{% extends "WebTool/layout.html" %}
{% load dbutils %}
{% block main_body %}

<p>게임 모드 관리</p>
<div id="app" class="container" >
    <!--<div style="width: 714px;height:400px; overflow:auto;"> -->
    <table class="table"  style="width: 714px ; height:300px">
        <thead >
            <tr>
                <th class="text-center" style="width: 80px">출력순서</th>
                <th class="text-center" style="width: 90px">모드인덱스</th>
                <th class="text-center" style="width: 120px">모드네임</th>
                <th class="text-center" style="width: 90px">최대인원</th>
                <th class="text-center" style="width: 60px">맵코드</th>
                <th class="text-center" style="width: 60px">출력</th>
                <th class="text-center" style="width: 50px"></th>
                <th class="text-center" style="width: 60px"></th>
            </tr>
        </thead>
        <tbody  >
            <tr v-for="(row,index) in table.mode">
                <td>
                    <input class="form-control" v-model="row.order" />
                </td>
                <td>
                    <input class="form-control" v-model="row.modeindex" />
                </td>
                <td>
                    <input class="form-control" v-model="row.name" number/>
                </td>
                <td>
                    <input class="form-control" v-model="row.team_user_count" number/>
                <!--
                <select class="form-control" v-model="row.tax">
                                            <option value="0">0%</option>
                                            <option value="10">10%</option>
                                            <option value="20">20%</option>
                                        </select>
                                        -->
                </td>
                <td>
                    <input class="form-control" v-model="row.map_code" number/>
                </td>
                <td>
                    <input type="checkbox" class="form-control" v-model="row.on_off" number/>
                </td>
                <td>
                    <button class="form-control btn btn-primary btn-xs" @click="addRow([[ index ]])">add</button>
                </td>
                <td><button class="form-control btn btn-danger btn-xs" @click="removeRow([[ index ]])">remove</button></td>
            </tr>
        </tbody>
    </table>
    <!--</div> -->
    <button v-on:click="getData">저장</button>
    <!--<pre>[[ $data  ]]</pre> -->
</div>

<script type="text/javascript">

var strModeTable = "{% GetModeTable %}".replace(/&quot;/gi,"\"");;
strModeTable =strModeTable.replace(/&quot;/gi,"");
strModeTable =strModeTable.replace(/&#39;/gi,"\"");
var vm = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
        table: [],
      total: 0,
        grandtotal: 0,
        taxtotal: 0,
        delivery: 40
        }
,
  mounted : function()
  {
        try{
            this.table = $.parseJSON(strModeTable);
            }
           catch(error){
            console.log(error.message);
           }
  }
    ,
    methods: {
        addRow: function (index) {
            try {
                this.table.mode.splice(index , 0, {});
            } catch(e)
            {
                console.log(e);
            }
        },
        removeRow: function (index) {
            this.table.mode.splice(index, 1);
        },
        getData: function () {
            alert(this.table);
                $.post('/ModeView',{ call_type: 0 , table:JSON.stringify(this.table)},function(data,status){
                    if ( "true" == data.Result )
                        alert(data.Result);
                        //window.location.href = '/LoginMain';
                });
        }
    }
});
</script>
{% endblock %}

