<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- bootstrap-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <script type="text/javascript" src="{% static 'js/csrf_token_setup.js' %}"></script >
    <link rel="stylesheet" href="{% static 'css/modaldialog.css' %}" type="text/css">

    <meta charset="UTF-8">
    <style>
        #Login
        {
         position: absolute;
         width: 330px;
         height: 150px;
         left: 50%;
         top: 50%;
         margin-left: -250px;
         margin-top: -250px;
        }
    </style>

</head>
<body>
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              default footer
              <button class="modal-default-button" @click="$emit('close')">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

    <div id="Login">
        <title>[[title]]</title>
        <table >
            <tr>
                <td align="right"><label>Select Server : </label></td>
                <td>
                    <select v-model="selectedserver" class="form-control">
                           <option v-for="sv in servers" v-bind:value="sv" >
                            [[ sv ]]
                          </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right"><label>Login ID : </label></td>
                <td><input v-model="userid"  class="form-control"></td>
            </tr>
            <tr>
                <td align="right"><label>Password : </label></td>
                <td><input v-model="pass" type="password" class="form-control" ></td>
            </tr>
        </table>
        <br>
        <button v-on:click="onlogin" class="btn btn-primary " style="margin-left: 132px;" >접속</button>
        <button id="show-modal" @click="showModal = true" class="btn btn-primary " style="margin-left: 0px;">Show Modal</button>
        <br>
       <span>Selected: [[ selectedserver ]]</span>
        <modal v-if="showModal" @close="showModal = false">
            <!--
              you can use custom content here to overwrite
              default content
              <h3 slot="header">custom header</h3>
            -->

        </modal>
    </div>
</body>
</html>
<script>
    Vue.component('modal', {
      template: '#modal-template'
    });
   var  strServers = "{{ server_list }}";
    strServers = strServers.replace(/&quot;/gi,"\"");
    strServers = strServers.replace(/&quot;/gi,"\"");
    var cVeuVm = new Vue({
            delimiters: ['[[', ']]'],
            el: '#Login',
            data: {
                title: "Login View",
                userid :'kyd',
                pass:'1234',
                showModal: false
                ,servers: []
                ,selectedserver:''
            },
            http: {
                root: 'http://localhost:8000',
                headers: {
                  Authorization: '<TOKEN_HERE>'
                }
            },
            methods: {
                onlogin: function (e) {
                $.post('/Index',{ id: this.userid , userpass:this.pass,Select_Server:this.selectedserver },function(data,status){
                    if ( "true" == data.Result )
                        alert(data.Result);
                        window.location.href = '/LoginMain';
                });
                },
                onnewaccount: function (e) {
                  console.log(e.target.tagName) // "A"
                  console.log(e.targetVM === this) // true
                }
              },
              mounted : function()
              {
                    this.servers = JSON.parse(strServers);
                    this.selectedserver = this.servers[0];
              }
    });
</script>