{% extends "WebTool/layout.html" %}
{% load staticfiles %}
{%block main_header %}
    <title>서버 관리</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/server_monitor.css' %}">

{% endblock %}


{% block main_body %}

<p>서버 관리</p>

<div id="main">

    <div class="bar">

        <!-- These two buttons switch the layout variable,
             which causes the correct UL to be shown. -->

        <button class = "bar-btn" >모든서버시작 </button>
        <button class = "bar-btn" >모든서버종료 </button>
        <button class = "bar-btn" >모든서버패치 </button>
        <button class = "bar-btn" >서버설치 </button>
        <button class = "bar-btn" >AgentUpdateAll </button>
        <button class = "bar-btn" >AgentServerUpdate </button>
        <a class="list-icon" v-bind:class="{ 'active': layout == 'list'}" v-on:click="layout = 'list'"></a>
        <a class="grid-icon" v-bind:class="{ 'active': layout == 'grid'}" v-on:click="layout = 'grid'"></a>
    </div>

    <!-- We have two layouts. We choose which one to show depending on the "layout" binding -->

    <ul v-if="layout == 'grid'" class="grid">
        <!-- A view with big photos and no text -->
        <li v-for="(server,index) in servers">
            <table class="on" >
                <tr>
                    <td>GroupNo [[ server.strGroupIndex ]]</td>
                    <td>
                        <p v-if="server.strInstall == '1' && server.eStatus  =='0'"> <!-- 서버 설치된상태 이면 -->
                            <input type='image' src="{% static 'icon/green_light.png' %}"  title='Status:START' class='server_state' >
                        </p>
                        <p v-else-if="server.strInstall == '1' && server.eStatus  =='1'">
                            <input type='image' src="{% static 'icon/red_light.png' %}"  title='Status:STOP' class='server_state' >
                        </p>
                        <p v-else-if="server.strInstall == '1' && server.eStatus  =='2'">
                            <input type='image' src="{% static 'icon/server_state_update.png' %}"  title='Status:PATCHING' class='server_state' >
                        </p>
                        <p v-else-if="server.strInstall == '1' && server.eStatus  =='3'">
                            <input type='image' src="{% static 'icon/patch_complete.png' %}"  title='Status:PATCH_COMPLETE' class='server_state' >
                        </p>
                        <p v-else-if="server.strInstall == '1' && server.eStatus  =='4'">
                            <input type='image' src="{% static 'icon/patch_error.png' %}"  title='Status:PATCH_ERROR' class='server_state' >
                        </p>
                        <p v-else-if="server.strInstall == '1' && server.eStatus  =='5'">
                            <input type='image' src="{% static 'icon/server_agent_update.png' %}"  title='Status:AGENT_PATCHING' class='server_state' >
                        </p>
                        <p v-else-if ="server.strInstall == '2' && server.eStatus =='2'" > <!-- 서버가 설치 되지 않은 상태 -->
                                <input type='image' src="{% static 'icon/server_state_update.png' %}"  title='Status:PATCHING' class='server_state' >
                        </p>
                        <p v-else-if="server.strInstall == '2' && server.eStatus  =='3'">
                            <input type='image' src="{% static 'icon/patch_complete.png' %}"  title='Status:PATCH_COMPLETE' class='server_state' >
                        </p>
                        <p v-else>
                            <input type='image' src="{% static 'icon/install.png' %}"  title='Status:NOT INSTALLED SERVER' class='server_state' >
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="">IP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [[ server.strIP ]]</td>
                    <td class=""><input type='image' src="{% static 'icon/server_start.png' %}"  title='Server Start' class='btn_server_start server_state'></td>
                    <td class=""><input type='image' src="{% static 'icon/server_stop.png' %}" title='Server Stop' class='btn_server_stop server_state' ></td>
                </tr>
                <tr>
                    <td class="">Name &nbsp;&nbsp;&nbsp; [[ server.strName ]]</td>
                    <td class=""><input type='image' src="{% static 'icon/server_update.png' %}"  title='Server Update' class='btn_server_update server_state' ></td>
                    <td class=""><input type='image' src="{% static 'icon/agent_patch.png' %}"  title='Agent Update' class='btn_agent_updates server_state' ></td>
                </tr>
            </table>

        </li>
    </ul>

    <ul v-if="layout == 'list'" class="list">
        <!-- A compact view smaller photos and titles -->
        <li v-for="server in servers">
            <p>[[ server.strName ]]</p>
            <p>[[ server.strName ]]</p>
            <p>[[ server.strIP ]]</p>
        </li>
    </ul>

</div>


<script>
var vServerMonitor = new Vue({
    delimiters: ['[[', ']]'],
    el: '#main',
    data: {
        // The layout mode, possible values are "grid" or "list".
        layout: 'grid',
        servers: []

    },
computed:{
    classChanger: function(){
        var theClass = 'table_on';
        //if(this.conversation.minimized == false){
        //    theClass = 'classA';
        //}
        return theClass;
    }
}
});

</script>
<script src="{% static 'js/server_monitor.js' %}"></script>
{% endblock %}